@charset "UTF-8";

/* button */
.button_bottom {
	position: fixed;
	bottom: 10em;
	left: auto;
	right: auto;
}

.button_bottom a {
	width: 200px;
}

.btn_bottom {
	position: fixed;
	bottom: 10em;
	left: auto;
	right: auto;
	width: 200px;
}

/* footer */
footer {
	height: 10em;
	line-height: 10em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

footer p {
    text-align: center;
}