@CHARSET "UTF-8";

body {
	background-color: #212121;
	color: #eee;
}

.content-section {
	padding-top: 0.4em;
	background-color: #333;
}

.navbar {
	background-color: #337ab7  !important;
}

.navbar-brand {
	color: #eee !important;
}

.nav.nav-link.dark {
	color: #eee;
}

.form-control {
	background-color: #333;
	color: #eee;
}

.custom-select {
	background-color: #333;
	color: #eee;
}

.col-xl-6 {
	min-width: 944px;
}

.col-lg-9 {
	max-width: 1200px;
}

.list-group-item {
	padding: 0.50rem 1.25rem;
}

.list-group-item.active {
	background-color: #337ab7;
	border-color: #337ab7;
}

.list-group-item-action {
	background-color: #333;
	color: #337ab7;
}

.list-group-item-action.active {
	background-color: #337ab7;
	border: 1px solid rgba(0,0,0, 0.125);
	color: white;
}

.spacing {
	margin-top: 5px;
	margin-bottom: 10px;
}

.badge.badge-light {
	float: right;
}

.glyph-icon-16 {
	height: 16px;
}

.glyph-icon-24 {
	height: 24px;
}

.btn-primary {
	background-color: #337ab7;
	border-color: #337ab7;
}
