DirectoryIndex /installer/public/index.php

RewriteEngine On
RewriteBase /installer/
RewriteRule ^index\.php$ -  [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /installer/public/index.php [L]
