@CHARSET "UTF-8";

a {
	color: #006633;
}

a.red {
	color: #FF0000;
}

body {
	margin: 0px;
	background-color: #CCCCCC;
}

table#main {
	width: 100%;
	border: none;
}

td#logo {
	background-color: #9EDA8C;
	border-bottom: solid 1px #000000;
	font-size: 35px;
	padding: 5px;
}

td#shortnav {
	background-color: #DFF3D9;
	border-bottom: solid 1px #000000;
	font-size: 13px;
	padding: 5px;
}

td#navi {
	width: 25%;
	background-color: #EEEEEE;
	border-right: dashed 1px #000000;
	border-bottom: solid 1px #000000;
	padding: 5px;
	vertical-align: top;
}

td#content {
	width: 75%;
	background-color: #FFFFFF;
	border-bottom: solid 1px #000000;
	padding: 5px;
	vertical-align: top;
}

span.uri {
	color: #008000;
}

p#disclaimer {
	font-size: 10px;
	color: #000000;
	text-align: center;
}

h4 {
	color: #006633;
}

p {
	text-align: justify;
}

tr {
	text-align: left;
	background-color: #DDDDDD;
}

td {
	background-color: #EEEEEE;
}