@CHARSET "UTF-8";

.navbar {
	background-color: #f8f9fa  !important;
}

.navigation {
	margin-left: 1em;
	float: left;
}

.content-container {
	position: relative;
	left: 1em;
	top: 0.3em;
	width:57em;
	float: left;
}

.content-section {
	padding-top: 0.4em;
}

.col-xl-6 {
	min-width: 944px;
}

.col-lg-9 {
	max-width: 1200px;
}

.list-group-item {
	padding: 0.50rem 1.25rem;
}

.list-group-item.active {
	background-color: #337ab7;
	border-color: #337ab7;
}

.list-group-item.public {
	background-color: #e9ecef;
	border-color: rgba(0,0,0,0.125);
	color: grey;
}

.list-group-item-action.active {
	background-color: #f8f9fa;
	border: 1px solid rgba(0,0,0, 0.125);
	color: black;
}

.spacing {
	margin-top: 5px;
	margin-bottom: 10px;
}

.badge.badge-light {
	float: right;
}

.glyph-icon-16 {
	height: 16px;
}

.glyph-icon-24 {
	height: 24px;
}
