@CHARSET "UTF-8";

.col-xl-6 {
	min-width: 950px;
}

.col-lg-9 {
	max-width: 1200px;
}

.list-group-item {
	padding: 0.50rem 1.25rem;
}

.spacing {
	margin-top: 5px;
	margin-bottom: 10px;
}

.leiste {
	width: 3px;
	border: 1px dotted rgba(115,115,155,0.6);
}

.hidden {
	display: none;
}

.badge.badge-light {
	float: right;
}

.glyph-icon-16 {
	height: 16px;
}

.glyph-icon-24 {
	height: 24px;
}