@CHARSET "UTF-8";

.list-group-item.active {
	background-color: #e9ecef;
	border-color: rgba(0,0,0,0.125);
	color: grey;
}

/* footer */
footer {
	height: 10em;
	line-height: 10em;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
}

footer p {
    color: white;
    text-align: center;
}