<html>
	<head>
		<title>###title###</title>
		<meta charset="utf8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="templates/css/admstyle.css">
	</head>
	<body>
		<table id="main" cellpadding="0" cellspacing="0">
			<tr>
				<td id="logo" colspan="2">###title###</td>
			</tr>
			<tr>
				<td id="shortnav" colspan="2">###shortnav###</td>
			</tr>
			<tr>
				<td id="navi">###navigation###</td>
				<td id="content">###content###</td>
			</tr>
		</table>
		<p id="disclaimer">Hier k&ouml;nnte der Text des Disclaimer stehen und rechtliche Hinweise
      oder Kontaktm&ouml;glichkeiten.<br>Max Mustermann<br>Musterstr. 12<br>55555 Musterstadt</p>
	</body>
</html>
